fastapi
uvicorn[standard]

streamlit

python-dotenv
pydantic
pydantic-settings

requests
httpx
beautifulsoup4

langchain
langchain-community
langchain-text-splitters
langgraph
langchain-google-genai
google-generativeai

faiss-cpu
neo4j

numpy
pandas
python-multipart
pypdf
tavily-python
tqdm